<!--
Adapted from:
https://developers.google.com/maps/documentation/javascript/examples/places-searchbox
https://developers.google.com/maps/documentation/javascript/examples/rectangle-event
-->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Sick Slopes!</title>
    <style>
    </style>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
      </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="findhills.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEiw0TtVlGhptMnW6UKV6KUsK6Svt3a3w&libraries=places&callback=initAutocomplete"
         async defer></script>
    <script>
    </script>

  </head>
  <body>
    <button id="send">Send the shit!</button><br>
    <input type="checkbox" id="stoplights">Stop at Stoplights<br>
    <input type="text" id="startSpeed" value="1" style="width: 2em;">
    Starting speed, meters per second<br>
    <select id="search-method">
      <option value="depth-first">Iterative Depth-First</option>
      <option value="breadth-first">Iterative Breadth-First</option>
      <option value="recursive">Recursive Depth-First (crash prone)</option>
    </select>
    Search method
    <br>
    <select id="sorting-method">
      <option value="a-star">Most downward first</option>
      <option value="none">Random (faster)</option>
    </select>
    Sorting method for choosing diversions
    <br>
    <input type="text" id="diversions" value="2" style="width: 2em;">
    Maximum diversions per intersection<br>
    <input type="text" id="max-routes" value="1000" style="width: 4em;">
    Maximum routes per origin (only iterative search methods)<br>
    <input type="checkbox" id="hide-rectangle">Hide rectangle on map<br>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-container">
      <div id="map"></div>
    </div>
    <div id="buttons">
      <button id="skip-back" title="Paths with higher peak velocity">⏮</button>
      <button id="back" title="Previous path with this peak velocity">◀</button>
      <button id="forward" title="Next Path with this peak velocity">▶</button>
      <button id="skip-forward" title="Paths with lower peak velocity">⏭</button>
    </div>
    </div>
    <div id="share">
      Share query
      <span class="share-span">
        <input id="share-box">
        <button id="copy-button">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-clippy.svg" alt="Copy to clipboard" width="13">
        </button>
      </span>
    </div>
    <div id="status-container">
      <p id="status"></p>
    <div id="maxVel-container"></div>
    <div id="result-container"></div>
  </body>
</html>