<!-- referenced https://developers.google.com/maps/documentation/javascript/examples/polyline-simple -->

<!DOCTYPE html>
<html>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Path Viewer</title>

  <body>

    <style>
      #map-container {
        height: 80vh;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      #map {
        height: 100%;
      }
    </style>

    <div id="map-container">
      <div id="map"></div>
      <script>
      function showMap() {
        var pathCoords = [
{lat: 33.775621, lng: -84.401855},
{lat: 33.775755, lng: -84.401682},
{lat: 33.775752, lng: -84.401412},
{lat: 33.775777, lng: -84.401381},
{lat: 33.775838, lng: -84.401321},
{lat: 33.775835, lng: -84.401257},
{lat: 33.775840, lng: -84.401121},
{lat: 33.775965, lng: -84.400755},
{lat: 33.776086, lng: -84.400792},
{lat: 33.776300, lng: -84.400778},
{lat: 33.776657, lng: -84.400779},
{lat: 33.776651, lng: -84.401126},
{lat: 33.776516, lng: -84.401048},
{lat: 33.776519, lng: -84.401476},
{lat: 33.776792, lng: -84.401483},
{lat: 33.776858, lng: -84.401483},
{lat: 33.776940, lng: -84.401545},
{lat: 33.777109, lng: -84.401548},
{lat: 33.777140, lng: -84.401508},
{lat: 33.777141, lng: -84.401351},
{lat: 33.777136, lng: -84.401089},
{lat: 33.777177, lng: -84.401065},
{lat: 33.777294, lng: -84.401024},
{lat: 33.777360, lng: -84.400968},
{lat: 33.777414, lng: -84.400884},
{lat: 33.777459, lng: -84.400723},
{lat: 33.777413, lng: -84.400718}
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: pathCoords[0],
          mapTypeId: 'terrain'
        });

        var thePath = new google.maps.Polyline({
          path: pathCoords,
          geodesic: true,
          strokeColor: '#0000FF',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        thePath.setMap(map);
      }
    </script>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEiw0TtVlGhptMnW6UKV6KUsK6Svt3a3w&libraries=places&callback=showMap"></script>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script-->

  </body>
</html>